<main>
    <h1>
        <p>Hello <%= username %></p>
    </h1>
    <div class="jumbotron">
        <h2>Reset Password</h2>
        <form name="reset" method="post" action="../../" style="width:300px;">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password"/>
            </div>
            <div class="form-group">
                <label for="confirmPassword">Confirm Password</label>
                <input type="password" id="confirmPassword" name="confirmPassword"/>
            </div>
            <div class="text-center">
                <input type="submit" value="Reset" class="btn btn-primary"/>
            </div>
        </form>
    </div>

    <!--
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script type="text/javascript">
        $(function () {
            function ConvertFormToJSON(formArray){
                console.log(formArray);
                var json = {};

                $.each(formArray, function() {
                    json[this.name] = this.value || '';
                });

                return json;
            }

            $('#resetForm').bind('submit', function(evt) {
                var data = ConvertFormToJSON($('#resetForm').serializeArray());
                console.log(data);
                $.ajax({
                    url: '/api/auth/resetPassword',
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify(data)
                });

                return false;
            });

        });
    </script>
    -->
</main>